#cms-breadcrumb {
 position: absolute;
 top:0px;
 left:0px;
 background-color : rgb(25,25,25);
 width: 45%;
 font-weight: 400;
 font-size: 1.1em;

}
#cms-breadcrumb ul, #cms-breadcrumb li {
 list-style-type:none;
 padding:0;
 margin:0;
 height:40px;
}

#cms-breadcrumb ul li {
 float:left;
 line-height:40px;
 width: auto;
 text-align: center;
 color:#fff;
 font-family: 'Source Sans Pro';
 font-size: 1.1em;
 font-weight: 400;	
}

.cms-breadcrumbItem span a div{
 display:block;
 padding:0 10px 0 25px;
 background-color : rgb(25,25,25);
 position: relative;
 transition: all 0.2s ease;
 color: #fff;
}


.cms-breadcrumbItem.selected span a div{
  display:block;
 padding:0 10px 0 25px;
 background-color: none;
 color: #fff;
}


#cms-breadcrumb ul li span a:hover div, #cms-breadcrumb ul li span a:focus div{
 	background-color : rgb(248,86,8);
}



/* Arrows for breadcrumb */

#cms-breadcrumb li span a div:after { 
	content: " "; 
	display: block; 
	
	width: 0; 
	height: 0;
	border-top: 20px solid transparent;           
	border-bottom: 20px solid transparent;
	border-left: 10px solid rgb(25,25,25);
	position: absolute;
	top: 50%;
	margin-top: -20px; 
	left: 100%;
	z-index: 2; 
	transition: all 0.2s ease;
}

#cms-breadcrumb li span a div:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 20px solid transparent;       
	border-bottom: 20px solid transparent;
	border-left: 10px solid rgb(248,86,8);
	position: absolute;
	top: 50%;
	margin-top: -20px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
	transition: all 0.2s ease;
}

#cms-breadcrumb li span a:hover div:after { 
	border-left: 10px solid rgb(248,86,8);
}




