/*CSS Document*/
/* Contains Layout and global styling*/

/**
 * Cancel Some Annoying Stylings SHOULD BE THE FIRST
 */
div {
	margin: 0;
	padding: 0;
}
ul, li{
	margin: 0;
}

a {
	text-decoration: none;
	color: #006699;
}


body {
	background-color: rgb(240,240,240);
	padding:0;
	width: 100%;
	margin: auto;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size : 12px;
	text-align: center;

}

body img 
{
	border : none;
}

body {
	text-align: left;
}

.outercontainer {
	
	z-index: 98;
}

/**
 * Common styling
 */
.clearer{
	clear: both;
	padding: 0;
	margin: 0;
}

.innercontainer{

}


